.browserFrame.browserFrame {
  border-radius: 10px !important;
}

.browserTab.browserTab {
  border-radius: 10px 10px 0 0 !important;
}

.browserTabCurved.browserTabCurved::before,
.browserTabCurved.browserTabCurved::after {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 10px;
  content: "";
  pointer-events: none;
}

.browserTabCurved.browserTabCurved::before {
  left: -10px;
  border-bottom-right-radius: 10px !important;
  box-shadow: 5px 5px 0 5px var(--browser-tab-bg);
}

.browserTabCurved.browserTabCurved::after {
  right: -10px;
  border-bottom-left-radius: 10px !important;
  box-shadow: -5px 5px 0 5px var(--browser-tab-bg);
}

.tabIcon.tabIcon {
  border-radius: 5px !important;
}

.tabFavicon.tabFavicon {
  border-radius: 3px !important;
}

.tabClose.tabClose,
.browserNewTab.browserNewTab,
.browserControlDot.browserControlDot,
.addressBar.addressBar,
.addressIcon.addressIcon,
.menuButton.menuButton,
.menuMark.menuMark,
.searchLine.searchLine {
  border-radius: 9999px !important;
}
